@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
/* font-family: "Heebo", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
/* font-family: "Heebo", sans-serif; */

header {
  display: flex;
  font-size: 1.2vw;
  background: linear-gradient(to right, #6920fa, #76cefa);
  color: white;
  padding: 1vw;
  align-items: center;
  background-size: 400% 400%;
  animation: animarGradiente 10s ease infinite;
}

@keyframes animarGradiente {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header ul {
  display: flex;
}

header div {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header ul li {
  padding-left: 1vw;
  padding-right: 1vw;
}

header button {
  background: linear-gradient(to right, #d86bfd, #00bbff);
  padding: 0.7vw 2vw 0.7vw 2vw;
  border-radius: 30px;
  vertical-align: middle;
  background-size: 400% 400%;
  animation: animarbotao 10s ease infinite;
}

@keyframes animarbotao {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: aliceblue;
}

.banner img {
  width: auto;
  height: 13vw;
  border: rgb(134, 4, 4) 5px solid;
  border-radius: 10px;
}
.banner {
  display: flex;
  gap: 39.5vw;
}

main {
  padding: 10px 10px 10px 10px;
}

main p {
  font-size: 1.3rem;
  padding: 1.5vw 3vw 0 3vw;
  font-family: "Heebo", sans-serif;
}

main h1 {
  font-weight: bold;
  font-size: 4.9rem;
  font-family: "Space Grotesk", sans-serif;
  padding: 0 3vw 0 3vw;
}

main h2 {
  font-size: 3.5rem;
  padding: 0 3vw 0 3vw;
  font-family: "Space Grotesk", sans-serif;
}

main h3 {
  padding: 0 3vw 0 3vw;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
}

main h1 span {
  color: #ffcc00;
}

/*------------------------Motifs----------------------*/

.motifs h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.motifs h2 span {
  color: #0088ff;
}

.motifs p {
  font-size: 1.3rem;
  padding-bottom: 3vw;
}

.motifs p span {
  color: #ff0000;
  font-weight: bold;
}
.motifs ol li h3 {
  font-size: 1.3rem;
}

.motifs ol li.survive {
  background-color: #3a7d16;
  color: white;
}

.motifs ol li.war {
  background-color: #d52629;
  color: white;
}

.motifs ol li.religion {
  background-color: #ffcc00;
  color: black;
}

.motifs ol li.connectivity {
  background-color: #1b4b74;
  color: white;
}

.motifs ol {
  display: flex;
  gap: 1.2vw;
  margin: 0.5vw 0.5vw 0.5vw 0.5vw;
  filter: drop-shadow(5px 5px 0);
}

.motifs ol li {
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin: 0 1vw 15px 1vw;
}

.motifs ol li p {
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

/*------------------------Access----------------------*/
.access h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.access h2 span {
  color: #15ff30;
}

.access h2 span.red {
  color: #ff383c;
}
.access p {
  padding-top: 2.5vw;
}
.access ul {
  display: flex;
  padding-bottom: 3vw;
}
.access ul div {
  border-right: black 3px solid;
}
.access ul div li {
  margin: 5px 10px 5px 10px;
}
.access img {
  width: auto;
  height: 15px;
  padding-right: 3px;
}
.access ul li p span.king {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffcc00;
}

.access ul li p span.priest {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0088ff;
}

.access ul li p span.military {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3a7d16;
}

.access ul li p span.scientist {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff6464;
}

/* ------------------ MainTech ------------------*/
.mainTech h2 {
  font-weight: bold;
}

.mainTech h2 span {
  color: #1ba234;
}

.mainTech h2 span.blue {
  color: #675cff;
}
.mainTech p {
  padding-top: 1.5vw;
}

.mainTech p span {
  color: #3700ff;
  font-weight: bold;
}

.mainTech ol li p span {
  color: white;
  padding: 5px 5px 5px 5px;
  font-size: 1.3rem;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.mainTech ol li p span.I {
  background-color: #84ee4b;
}

.mainTech ol li p span.II {
  background-color: #00aeff;
}

.mainTech ol li p span.III {
  background-color: #ff383c;
}

.mainTech ol li p span.IV {
  background-color: #eeda02;
}

.mainTech ol li p span.V {
  background-color: #a746f0;
}

.mainTech ol li h3 {
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 12px 1px 6px 1px;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.mainTech ol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 2vw 2vw 2vw 2vw;
}
.mainTech ol li {
  padding-top: 2vw;
}
.mainTech ol li p {
  padding: 1px 1px 1px 1px;
  font-size: 1rem;
}
