main h1 {
  font-weight: bold;
  font-size: 3.5rem;
}
main h1 span {
    color: #ffcc00;
}
.motifs h2 {
    font-size: 2.5rem;
    font-weight: bold;
} 
.motifs h2 span {
    color: #0088ff;
}
.motifs p {
    font-size: 1.2rem;
}
.motifs p span {
    color: #ff0000;
    font-weight: bold;
}
.motifs ol li.survive {
    background-color: #3a7d16;
    color: white;
}
.motifs ol li.war {
    background-color: #d52629;
    color: white;
}
.motifs ol li.religion {
    background-color: #ffcc00;
    color: black;
}
.motifs ol li.connectivity {
    background-color: #1B4B74;
    color: white;
}