@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
/* font-family: "Heebo", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
/* font-family: "Heebo", sans-serif; */

@media screen and (min-width: 600px) {
  body {
    background-color: rgb(66, 66, 66);
    color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flow-root;
    font-size: large;
  }
  header a {
    font-size: 1rem;
    font-family: "Heebo", sans-serif;
  }

  /*
  header {
    display: flex;
    justify-content: space-between;
    margin: 0 7vw 0 0;
    align-items: center;
  } 
   header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;
  padding: 0 7vw;
  margin: 0;

  box-sizing: border-box;
  background-color: #e8f1f8;
}

header h1 {
  margin: 0;
  padding: 0;
  line-height: 0;
}

header h1 img {
  display: block;
  width: 220px;
  height: auto;
}

  nav ul {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 0.4rem;
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
}*/
  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7vw;
    margin: 0;

    box-sizing: border-box;

    background-color: #000000;
  }

  header h1 {
    margin: 0;
    padding: 0;

    /* Corrige o espaço transparente da imagem da logo */
    transform: translateX(-2.5vw);

    line-height: 0;
  }

  header h1 img {
    display: block;
    width: 220px;
    height: auto;
  }

  nav {
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    gap: 3vw;
  }

  nav ul li {
    margin: 0;
    padding: 0;
    color: #e2e8f0;

    font-size: 0.4rem;
    font-weight: 600;
    white-space: nowrap;
  }

  nav ul li p a {
    background: linear-gradient(to right, #d86bfd, #00bbff);
    padding: 6px 16px;
    border-radius: 30px;
    vertical-align: middle;
    background-size: 400% 400%;
    animation: animarbotao 10s ease infinite;
    color: #e2e8f0;
    padding: 12px 16px;
    border-radius: 10px;
    white-space: nowrap;
  }
  header {
    padding-left: 8.8vw;
    padding-right: 5.3vw;
  }

  /*------------------------geral------------------------*/

  main {
    padding: 10px 10px 10px 10px;
    margin: 5vw;
  }

  main p {
    font-size: 1.5rem;
    padding: 1.5vw 3vw 0 3vw;
    font-family: "Heebo", sans-serif;
  }

  main h1 {
    font-weight: bold;
    font-size: 4.9rem;
    font-family: "Space Grotesk", sans-serif;
    padding: 0 3vw 0 3vw;
  }

  main h2 {
    font-size: 3.5rem;
    padding: 0 3vw 0 3vw;
    font-family: "Space Grotesk", sans-serif;
  }

  main h3 {
    padding: 0 3vw 0 3vw;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
  }

  /*------------------------banner-----------------------*/
  .banner h1 {
    font-size: 5.5rem;
  }
  .banner h1 span {
    color: #00aeff;
  }
  .banner {
    display: flex;
    gap: 180px;
    margin-bottom: 150px;
  }
  .banner img {
    width: 100%;
    height: 20vw;
    display: inline-block;
    border: #122781 5px solid;
    border-radius: 10px;
  }

  /*------------------------Motifs----------------------*/
  .motifs {
    margin-bottom: 2vw;
  }
  .motifs h2 {
    font-size: 3.5rem;
    font-weight: bold;
  }

  .motifs h2 span {
    color: #0088ff;
  }

  .motifs p {
    padding-bottom: 3vw;
  }

  .motifs p span {
    color: #47c5ff;
    font-weight: bold;
  }
  .motifs ol li h3 {
    font-size: 1.3rem;
  }

  .motifs ol li.survive {
    background-color: #277cc2;
    color: white;
  }

  .motifs ol li.war {
    background-color: #5847f5;
    color: white;
  }

  .motifs ol li.religion {
    background-color: #00aeff;
    color: rgb(255, 255, 255);
  }

  .motifs ol li.connectivity {
    background-color: #2073bb;
    color: white;
  }

  .motifs ol {
    display: flex;
    gap: 30px;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    filter: drop-shadow(5px 5px 0 rgb(37, 37, 37));
  }

  .motifs ol li {
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    margin: 0 1vw 15px 1vw;
    border-radius: 10px;
  }

  .motifs ol li p {
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  }
  .motifs ol li h3 {
    padding: 0.5vw;
  }

  /*------------------------Access----------------------*/
  .access h2 {
    font-size: 3.5rem;
    font-weight: bold;
  }

  .access h2 span {
    color: #45a5ff;
  }

  .access h2 span.red {
    color: #5d38ff;
  }
  .access p {
    padding-top: 2.5vw;
  }
  .access ul {
    margin: 2px 2px 2px 2px;
    border: #000000 solid 3px;
    display: flex;
    padding-bottom: 3vw;
  }
  /* .access img {
    width: auto;
    height: 15px;
    padding-right: 3px;
  } */
  .access ul li p span.king {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(32, 151, 255);
  }

  .access ul li p span.priest {
    font-weight: bold;
    font-size: 1.5rem;
    color: #0979b0;
  }

  .access ul li p span.military {
    font-weight: bold;
    font-size: 1.5rem;
    color: #6250ff;
  }

  .access ul li p span.scientist {
    font-weight: bold;
    font-size: 1.5rem;
    color: #984cfc;
  }

  /* ------------------ MainTech ------------------*/
  .mainTech {
    margin-top: 2vw;
  }
  .mainTech h2 {
    font-weight: bold;
  }

  .mainTech h2 span {
    color: #3cbeff;
  }

  .mainTech h2 span.blue {
    color: #675cff;
  }
  .mainTech p {
    padding-top: 1.5vw;
  }

  .mainTech p span {
    color: #3700ff;
    font-weight: bold;
  }

  .mainTech ol li p span {
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: 1.4rem;
    font-family: "Special Gothic Expanded One", sans-serif;
    border-radius: 5px;
  }

  .mainTech ol li p span.I {
    background-color: rgb(32, 151, 255);
  }

  .mainTech ol li p span.II {
    background-color: #00aeff;
  }

  .mainTech ol li p span.III {
    background-color: #0979b0;
  }

  .mainTech ol li p span.IV {
    background-color: #3524d3;
  }

  .mainTech ol li p span.V {
    background-color: #832bf7;
  }

  .mainTech ol li h3 {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 12px 1px 6px 1px;
    font-family: "Special Gothic Expanded One", sans-serif;
  }

  .mainTech ol {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 90px;
    margin: 2vw 2vw 2vw 2vw;
  }
  .mainTech ol li {
    padding-top: 2vw;
  }
  .mainTech ol li p {
    padding: 1px 1px 1px 1px;
  }

  /*-----------------------footer----------------------------*/
  footer div {
    display: flex;
    gap: 3vw;
    justify-content: left;
    margin-left: 7.51vw;
    padding-bottom: 1vw;
  }
  footer div ul {
    border-right: gray solid 2px;
    padding: 1px 3vw 1px 0;
    text-align: left;
  }
  footer h2 {
    font-weight: bold;
  }
}
