/* === IMPORTAÇÃO DE FONTES */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
/*
Follow - font-family: "Fredoka", sans-serif;
Medu - Oswald
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html {
  font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
  font-family: "Epilogue", sans-serif;
}
h1 {
  font-family: "Space Grotesk", sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}
p {
  font-family: "Heebo", sans-serif;
}

/* MEDIA QUERY - DESKTOP */
@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    margin: 3vw 7vw 4vw 0;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    font-size: 0.4rem;
    margin-left: 3vw;
    font-weight: 600;
  }
  nav ul li p a {
    background-color: blueviolet;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    white-space: nowrap;
  }
  section.rotas {
    margin: 4vw 7vw;
  }
  div.texto {
    display: flex;
    align-items: center;
  }
  div.texto div {
    flex: 1 1 50%;
  }
  div.texto {
    margin: 0 0 5vw 0;
  }
  div.texto p img {
    width: 80%;
    margin-left: 9vw;
    border-radius: 20px;
  }
  div.texto p {
    font-size: 0.6rem;
    /*padding: 0 45vw 0 0;
    margin: 3vw 0;*/
  }
  section.rotas h2 {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0 0 5vw 0;
    /* padding: 0 45vw 0 0;*/
  }
  section.rotas h2 span {
    color: white;
    background-color: #26a94e;
    padding: 0 7px;
    border-radius: 20px;
  }

  div.botoes {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /** padding: 0 45vw 0 0;*/
    font-size: 0.8rem;
    filter: drop-shadow(8px 8px 0);
  }
  div.botoes p a {
    background-color: #26a94e;
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
  }
  div.botoes p.branco a {
    background-color: white;
    color: black;
  }
  div.impactos {
    display: flex;
  }

  section.container {
    width: 82%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  section.container {
    display: flex;
    justify-content: center;
  }
  section.container ul {
    display: flex;
  }
  section.container li {
    border: 2px solid black;
  }

  /* geral */

  section.container li {

    margin: 5vw 0;
  }

  /* verde */

  li.verde {
    background-color: #3a7d16;
  }
  li.verde h3 {
    font-weight: bold;
    color: white;
    margin: 2vw 7vw 2vw 2vw;
    font-size: 1.2rem;
  }
  li.verde p {
    color: white;
    font-size: 0.3rem;
    margin: 2vw 7vw 2vw 2vw;
  }
  li.verde p span {
    border-bottom: 2px solid black;
    padding: 4px 0;
  }

  /* vermelho */

  li.vermelho {
    background-color: #d52629;
  }
  li.vermelho h3 {
    font-weight: bold;
    color: white;
    margin: 2vw 7vw 2vw 2vw;
    padding: 0 20px 0 0;
    font-size: 1.2rem;
  }
  li.vermelho p {
    color: white;
    font-size: 0.3rem;
    margin: 2vw 7vw 2vw 2vw;
  }
  li.vermelho p span {
    border-bottom: 2px solid black;
    padding: 4px 0;
  }

  /* amarelo */

  li.amarelo {
    background-color: #ffcc00;
  }
  li.amarelo h3 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 2vw 7vw 2vw 2vw;
    padding: 0 20px 0 0;
    font-size: 1.2rem;
  }
  li.amarelo p {
    color: black;
    font-size: 0.3rem;
    margin: 2vw 7vw 2vw 2vw;
  }
  li.amarelo p span {
    border-bottom: 2px solid black;
    padding: 4px 0;
  }

  /* azul */

  li.azul {
    background-color: #1b4b74;
  }
  li.azul h3 {
    font-weight: bold;
    color: white;
    margin: 2vw 7vw 2vw 2vw;
    font-size: 1.2rem;
    padding: 0 20px 0 0;
  }
  li.azul p {
    color: white;
    font-size: 0.3rem;
    margin: 2vw 7vw 2vw 2vw;
  }
  li.azul p span {
    border-bottom: 2px solid black;
    padding: 4px 0;
  }
}
