header {
    display: flex;
    font-size: 1.2vw;
    background: linear-gradient(to right, #6920FA, #76CEFA);
    color: white;
    padding: 1vw;
    align-items: center;
    background-size: 400% 400%;
  animation: animarGradiente 10s ease infinite;
}

@keyframes animarGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header ul{
    display: flex;
}

header div {
    margin-left: auto;
    display: flex;
    align-items: center;
}

header ul li{
    padding-left: 1vw ;
    padding-right: 1vw ;
}

header button{
    background: linear-gradient(to right, #D86BFD, #00BBFF);
    padding: 0.7vw 2vw 0.7vw 2vw;
    border-radius: 30px;
    vertical-align: middle;
    background-size: 400% 400%;
  animation: animarbotao 10s ease infinite;
}

@keyframes animarbotao {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section.principal  {
    background-image: url(../source/Dados.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

section.principal img{
    width: 30vw;
}

section.principal {
    display: flex;
    padding: 6vw 3vw 6vw 3vw;
}

section.principal div h1 {
    font-size: 3vw;
    font-weight: bold;
    padding-right: 20vw;
}

section.principal div h2 {
    padding-right: 20vw;
    font-size: 3vw;
    font-weight: bold;
    /* 1. Define o gradiente gigante de fundo */
      background: linear-gradient(to right, #00F6FF, #1900FF);
      background-size: 400% 400%;

      /* 2. Recorta o fundo no formato das letras */
      -webkit-background-clip: text;
      background-clip: text;
      
      /* 3. Deixa a cor original do texto transparente para revelar o fundo */
      -webkit-text-fill-color: transparent;

      /* 4. Ativa o movimento do gradiente */
      animation: moverGradiente 8s ease infinite;
}

    @keyframes moverGradiente {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    section.principal h3{
      font-size: 2vw;
      font-weight: bold;
      padding-top: 2vw;
    }

    section.principal p{
      padding-bottom: 1vw;
      padding-right:10vw ;
      font-size: 1.5vw
    }

    section.principal button {

      background-color: #597C7A;
      padding: 0.7vw 2vw 0.7vw 2vw;
      border-radius: 30px;
    }

    /* Saiba mais */

    

    section.tecnologia{
      text-align: center;
      padding-left: 10vw;
      padding-right: 10vw;
    }

    section.tecnologia h1{
      font-size: 4vw;
      font-weight: bold;
      padding-bottom: 2vw;
    }

    section.tecnologia p {
      padding-bottom: 4vw;
    }

    section.tecnologia h1 span{
      color: #3150B6;
    }

    section.tecnologia div{
      display: flex;
    }

    section.tecnologia div p img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%
    }

    section.tecnologia div.sla p{
      display: flex;
      align-items: center;
    }

    section.tecnologia div p {
      margin-left: auto;
      padding-left: 17vw; ;
      
    }

    section.tecnologia div.sla p#mes {
      padding-right: 19vw;  
    }


    section.carrosel div{
      display: flex;
    }

    section.comercio {
      background-color: #00003A;
      color :white;
      padding: 3vw 15vw 3vw 15vw;
    }

    section.comercio h2 {
      text-align: center;
      font-size: 3vw;
      color: #00F7DA;
      padding-bottom: 4vw;

    }

    section.comercio h3 {
      font-size: 2vw;
    }

    section.comercio h3 span{
      color: #00F7DA;
    }

    section.comercio p#text {
      padding-top: 2vw;
    }

    section.comercio div.linha{
      display: flex;
    }

    section.comercio div.origins {
      margin-left: auto;
      padding-right: 2vw;
      font-size: 2rem;
      
    }

    section.comercio div.origins ul li{
      padding: 1.8vw 7vw 0 0;
    }

    section.comercio div.subtitle {
      display: flex;
      padding-top: 3vw;
    }

    section.comercio div.subtitle div{
      margin-left: 21.5%;
      padding-right: 0vw;
      display: grid;
    }

    section.comercio div.ouro {
      padding: 0 5vw 7vw 7vw;
      border-right: solid #003670 2px;
    }

    section.inter h2 {
      font-size: 3vw;
      text-align: center;
    }

    section.inter h2 span#roxo{
      color: #A746F0;
    }

    section.inter h2 span#ciano{
      color: #00A491;
    }

    section.inter div.boxes {
      display: flex;
      margin-left: 29%;
      gap: calc(5vw);
      padding: 5vw 0 5vw 0;
    }

    section.inter div.boxes div.box {
      background: linear-gradient(to bottom right, #B638FF, #0EFACB);
      padding: 1vw;
      color: white;
      box-shadow: 7px 7px black;
      border: solid black 2px;
      transform: rotate(-5deg);
      p{
        font-weight: bold;
      }

      p#money{
          padding-bottom: 10px;
          font-size: 1.6vw
        }
    }

    section.inter div.boxes div.box1 {
      background: linear-gradient(to bottom right, #38FF4F, #00FFC3);
      padding: 1vw;
      box-shadow: 7px 7px black;
      border: solid black 2px;
      p{
        font-weight: bold;
      }

      p#money{
          padding-bottom: 10px;
          font-size: 1.6vw
        }
    }

    section.inter div.boxes div.box2 {
      background: linear-gradient(to bottom right, #FF7700, #FF0505);
      padding: 1vw;
      box-shadow: 7px 7px black;
      border: solid black 2px;
      transform: rotate(5deg);
      p{
        font-weight: bold;
      }

      p#money{
          padding-bottom: 10px;
          font-size: 1.6vw
        }
    }

    footer {
      display: flex;
    }
