@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
/* font-family: "Heebo", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
/* font-family: "Heebo", sans-serif; */

/* header {
  display: flex;
  font-size: 1.2vw;
  background: linear-gradient(to right, #6920fa, #76cefa);
  color: white;
  padding: 1vw;
  align-items: center;
  background-size: 400% 400%;
  animation: animarGradiente 10s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
} */

h1 {
  font-family: "Space Grotesk", sans-serif;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
}

h4 {
  font-family: "Space Grotesk", sans-serif;
}

h5 {
  font-family: "Space Grotesk", sans-serif;
}

h6 {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Heebo", sans-serif;
}

ul li {
  font-family: "Space Grotesk", sans-serif;
}

a {
  font-family: "Space Grotesk", sans-serif;
}

main {
  margin: 0;
  padding: 0;
  display: flow-root;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 7vw 0 0;
  align-items: center;
  color: white;
  animation: surgirDoCantoDiv 0.8s ease-out forwards;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;
  padding: 0 7vw;
  margin: 0;

  box-sizing: border-box;
  background-color: #e8f1f8;
}

header h1 {
  margin: 0;
  padding: 0;
  line-height: 0;
}

header h1 img {
  display: block;
  width: 220px;
  height: auto;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 0.4rem;
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
}
html,
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 7vw;
  margin: 0;

  box-sizing: border-box;

  background-color: #000000;
}

header h1 {
  margin: 0;
  padding: 0;

  /* Corrige o espaço transparente da imagem da logo */
  transform: translateX(-2.5vw);

  line-height: 0;
}

header h1 img {
  display: block;
  width: 220px;
  height: auto;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  gap: 3vw;
}

nav ul li {
  margin: 0;
  padding: 0;
  color: #e2e8f0;

  font-size: 0.4rem;
  font-weight: 600;
  white-space: nowrap;
}

nav ul li p a {
  background: linear-gradient(to right, #d86bfd, #00bbff);
  padding: 6px 16px;
  border-radius: 30px;
  vertical-align: middle;
  background-size: 400% 400%;
  animation: animarbotao 10s ease infinite;
  color: #e2e8f0;
  padding: 12px 16px;
  border-radius: 10px;
  white-space: nowrap;
}

@keyframes animarGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header ul {
  display: flex;
}

header div {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header ul li {
  padding-left: 1vw;
  padding-right: 1vw;
}

header a.button {
  background: linear-gradient(to right, #d86bfd, #00bbff);
  padding: 0.7vw 2vw 0.7vw 2vw;
  border-radius: 10px;
  vertical-align: middle;
  background-size: 400% 400%;
  animation: animarbotao 10s ease infinite;
}

@keyframes animarbotao {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section.principal {
  background-color: white;
  display: flex;
  padding: 4vw 6vw 9vw 6vw;
}

section.principal div.mona {
  display: flex;
  animation: surgirDoCantoDiv 0.8s ease-out forwards;
  background-color: #1f50882d;
  border-radius: 30px;
}

section.principal div#divo {
  padding: 2vw;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

@keyframes surgirDoCantoDiv {
  0% {
    opacity: 0;
    transform: translateY(
      -100%
    ); /* Começa totalmente fora da tela, na direita */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina na posição original */
  }
}

section.principal img {
  width: 30vw;
  transition: background-color 0.3s ease;
  animation: surgirDoCanto 1.3s ease-out forwards;
}

section.principal div h1 {
  font-size: 3vw;
  font-weight: bold;
  color: #0979b0;
  text-align: center;
  animation: surgirDoCanto 1s ease-out forwards;
}

@keyframes surgirDoCanto {
  0% {
    opacity: 0;
    transform: translateX(
      -100%
    ); /* Começa totalmente fora da tela, na direita */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina na posição original */
  }
}

section.principal div h2 {
  padding: 0 8vw 0 8vw;
  font-size: 4vw;
  font-weight: bold;
  /* 1. Define o gradiente gigante de fundo */
  background: linear-gradient(to right, #00f6ff, #1900ff);
  background-size: 400% 400%;

  /* 2. Recorta o fundo no formato das letras */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Deixa a cor original do texto transparente para revelar o fundo */
  -webkit-text-fill-color: transparent;

  /* 4. Ativa o movimento do gradiente */
  animation: moverGradiente 8s ease infinite;
  animation: surgirDoCanto 1s ease-out forwards;
}

@keyframes moverGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section.principal div.propoe {
  padding: 2vw 5vw 1vw 10vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

section.principal h3 {
  padding-top: 2vw;
  font-size: 2vw;
  font-weight: bold;
  animation: surgirDoCanto2 1s ease-out forwards;
}

section.principal p {
  padding-top: 1vw;
  font-size: 1.5vw;
  color: gray;
  animation: surgirDoCanto2 1.4s ease-out forwards;
}

@keyframes surgirDoCanto2 {
  0% {
    opacity: 0;
    transform: translateX(
      100%
    ); /* Começa totalmente fora da tela, na direita */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina na posição original */
  }
}

section.principal button {
  background-color: #3150b6;
  padding: 0.7vw 2vw 0.7vw 2vw;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  animation: surgirDoCanto2 1.8s ease-out forwards;
}

section.principal button:hover {
  background-color: unset;
  border: solid 2px #0979b0;
  color: #000080;
}

/* Saiba mais */

section.tecnologia {
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 6vw;
}

section.tecnologia h1 {
  font-size: 4vw;
  font-weight: bold;
  padding-bottom: 2vw;
  animation: surgirDoCantoDiv 1s ease-out forwards;
}

section.tecnologia p {
  padding-bottom: 4vw;
  animation: surgirDoCantoDiv 1.3s ease-out forwards;
}

section.tecnologia h1 span {
  color: #000080;
}

section.tecnologia img {
  height: 15vw;
  animation: surgirDoCanto2 2s ease-out forwards;
}

section.tecnologia div {
  display: flex;
}

section.tecnologia div p img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

section.tecnologia div.sla p {
  display: flex;
  align-items: center;
}

section.tecnologia div p {
  margin-left: auto;
  padding-left: 17vw;
}

section.tecnologia div.sla p#mes {
  padding-right: 19vw;
}

section.carrosel {
  padding: 3vw 4vw 3vw 4vw;
}

section.carrosel > div {
  display: flex;
  align-items: center;
}

section.carrosel div.roda img {
  height: 17vw;
  border-radius: 20px;
  margin: 0 5vw 0 1vw;
}

section.carrosel div.subtitle h2 {
  font-size: 2.5vw;
  font-weight: bold;
}

section.comercio {
  background-color: #000050;
  color: white;
  padding: 3vw 15vw 3vw 15vw;
}

section.comercio h2 {
  text-align: center;
  font-size: 3vw;
  color: #0979b0;
  padding-bottom: 4vw;
}

section.comercio h3 {
  font-size: 2vw;
}

section.comercio h3 span {
  color: #0979b0;
}

section.comercio p#text {
  padding-top: 2vw;
}

section.comercio div.linha {
  display: flex;
}

section.comercio div.origins {
  margin-left: auto;
  padding-right: 2vw;
  padding-left: 3vw;
  font-size: 2rem;
}

section.comercio div.origins ul li a:hover{
  transform: scale(1.05);
}

section.comercio div.origins ul li {
  padding: 1.8vw 7vw 0 0;
}

section.comercio div.subtitle {
  display: flex;
  padding-top: 8vw;
  gap: calc(4vw);
}

section.comercio div.subtitle div {
  padding-right: 0vw;
  display: grid;
}

section.comercio div.subtitle img {
  height: 300px;
  width: 400px;
  border-radius: 50px;
}

section.comercio div.subtitle p {
  text-align: center;
}

section.comercio div.ouro {
  padding: 0 5vw 7vw 7vw;
  border-right: solid #003670 2px;
}

section.inter h2 {
  font-size: 3vw;
  text-align: center;
}

section.inter h2 span#roxo {
  color: #0979b0;
}

section.inter h2 span#ciano {
  color: #000080;
}

section.inter div.boxes {
  display: flex;
  margin-left: 29%;
  gap: calc(5vw);
  padding: 5vw 0 5vw 0;
}

section.inter div.boxes div.box {
  background: linear-gradient(to bottom right, #b638ff, #0efacb);
  padding: 1vw;
  color: white;
  box-shadow: 7px 7px black;
  border: solid black 2px;
  transform: rotate(-5deg);
  p {
    font-weight: bold;
  }

  p#money {
    padding-bottom: 10px;
    font-size: 1.6vw;
  }
}

section.inter div.boxes div.box1 {
  background: linear-gradient(to bottom right, #38ff4f, #00ffc3);
  padding: 1vw;
  box-shadow: 7px 7px black;
  border: solid black 2px;
  position: relative;
  bottom: 0.8vw;
  p {
    font-weight: bold;
  }
  p#money {
    padding-bottom: 10px;
    font-size: 1.6vw;
  }
}

section.inter div.boxes div.box2 {
  background: linear-gradient(to bottom right, #ff7700, #ff0505);
  padding: 1vw;
  box-shadow: 7px 7px black;
  border: solid black 2px;
  transform: rotate(5deg);
  p {
    font-weight: bold;
  }

  p#money {
    padding-bottom: 10px;
    font-size: 1.6vw;
  }
}

/*origems*/

section.introducao{
  text-align: center;
  padding: 3vw;
  h1{
    font-size: 4rem;
    padding-bottom: 1.5vw;
  } p{
    font-size: 1vw;
    padding: 1vw;
  }
}

section.timeline{
  padding: 1vw 5vw 1vw 5vw;
  color: rgb(56, 56, 63);
}

section.timeline h2 {
  font-size: 2vw;
}

section.timeline ul {
  list-style-type: disc !important;
  padding-left: 20px;
}

section.timeline div{
  padding: 1.5vw;
  background-color: #0000806b;
  border-radius: 10px;
  margin: 1vw;
}

footer {
  display: flex;
}
