/* === IMPORTAÇÃO DE FONTES */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
/*
Follow - font-family: "Fredoka", sans-serif;
Medu - Oswald
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html {
  font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
  font-family: "Epilogue", sans-serif;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Heebo", sans-serif;
}

/* MEDIA QUERY - DESKTOP */
@media screen and (min-width: 600px) {

  
  

  /*
  header {
    display: flex;
    justify-content: space-between;
    margin: 0 7vw 0 0;
    align-items: center;
  } 
   header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;
  padding: 0 7vw;
  margin: 0;

  box-sizing: border-box;
  background-color../Pagina_1/home.html: #e8f1f8;
}

header h1 {
  margin: 0;
  padding: 0;
  line-height: 0;
}

header h1 img {
  display: block;
  width: 220px;
  height: auto;
}

  nav ul {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 0.4rem;
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
}*/
  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7vw;
    margin: 0;

    box-sizing: border-box;

    background-color: #000000;
  }

  header h1 {
    margin: 0;
    padding: 0;

    /* Corrige o espaço transparente da imagem da logo */
    transform: translateX(-2.5vw);

    line-height: 0;
  }

  header h1 img {
    display: block;
    width: 220px;
    height: auto;
  }

  nav {
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    gap: 3vw;
  }

  nav ul li {
    margin: 0;
    padding: 0;
    color: #E2E8F0;

    font-size: 0.4rem;
    font-weight: 600;
    white-space: nowrap;
  }

  nav ul li p a {
    background: linear-gradient(to right, #d86bfd, #00bbff);
    padding: 6px 16px;
    border-radius: 30px;
    vertical-align: middle;
    background-size: 400% 400%;
    animation: animarbotao 10s ease infinite;
    color: #E2E8F0;
    padding: 12px 16px;
    border-radius: 10px;
    white-space: nowrap;
  }

  .banner {
    margin: 4vw 7vw;
  }

  .banner h1 {
    font-size: 2.2rem;
    margin-bottom: 1vw;
    padding: 0 45vw 0 0;
    font-weight: bolder;
  }

  .banner p {
    font-size: 0.8rem;
    padding: 2vw 15vw 2vw 0
  }

  .banner button {
    background-color: rgb(161, 159, 159);
    color: black;
    padding: 10px 15px;
    border-radius: 40px;
    filter: drop-shadow(3px solid black);
  }

  .banner h1 span.comercio {
    color: #7c3aed;
  }

  .banner h1 span.tecnologia {
    background-color: #14b8a6;
    color: white;
  }

  .aparelhos {
    margin: 4vw 7vw;
  }

  .aparelhos>div {
    display: flex;
    justify-content: space-between;
  }

  .aparelhos h2 {
    font-size: 2rem;
    font-weight: bolder;
    padding: 5vw 0 0 0;
  }

  .aparelhos h2 span {
    color: rgb(41, 201, 212);
  }

  .aparelhos h2 span.vender {
    color: #7c3aed;
    padding: 0 45vw 0 0;

  }

  .aparelhos div p {
    font-size: 0.6rem;
    padding: 2vw 0 0 0;

  }

  .aparelhos ul {
    display: flex;
    padding: 8vw 1vw 0 0;
  }

  .aparelhos ul li {
    padding: 0 2vw 0 2vw;
    margin: 0 2vw 0 0;
    filter: drop-shadow(8px 8px 0);
    border: 2px solid black;

  }

  .aparelhos ul li.box-red {
    background-color:#4f46e5 ;
  }

  .aparelhos ul li.box-blue {
    background-color: #2563eb;
  }

  .aparelhos ul li.box-green {
    background-color:#155e75 ;
  }

  .aparelhos ul li.box-yellow {
    background-color: #14b8a6;
    padding: 0 0 0 0;
  }

  .aparelhos ul li h3 {

    color: black;
    font-weight: bolder;
    font-size: 1rem;
    padding: 1vw 0 0 0;
  }

  .aparelhos ul li p {
    font-size: 0.6rem;
    padding: 1vw 0 1vw 0;
  }

  .aparelhos img {
    width: 30%;
  }

  .ideia {
    margin: 4vw 7vw;
    background-color: #21243D;
    padding: 4vw 0 4vw 0;
  }

  .ideia h2 {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    padding: 3vw 30vw 0 2vw;
  }

  .ideia span {
    color: #7c3aed;
    font-weight: bold;
  }

  .ideia span.mao {
    color: rgb(41, 201, 212);
    font-weight: bold;
  }

  .ideia ol li h3 span.I {
    color: white;
    background-color: #155e75;
    padding: 5px 10px;
    border: white solid 8px;
    font-weight: bold;
  }

  .ideia ol li h3 span.II {
    color: white;
    background-color: #4393b8;
    padding: 5px 10px;
    border: white solid 8px;
    font-weight: bold;
  }

  .ideia ol li h3 span.III {
    color: white;
    background-color: #0b94d3;
    padding: 5px 10px;
    border: white solid 8px;
    font-weight: bold;

  }

  .ideia ol li h3 span.IV {
    color: white;
    background-color: #14b8a6;
    padding: 5px 10px;
    border: white solid 8px;
    font-weight: bold;
  }

  .ideia ol li h3 span.V {
    color: white;
    background-color: #4f46e5;
    padding: 5px 10px;
    border: white solid 8px;
    font-weight: bold;
  }

  .ideia ol {
    display: flex;
    gap: 4vw;
    padding: 5vw 0 0 2vw;
  }

  .ideia ol li h4 {
    padding: 30px 0 30px 0;
    font-weight: bolder;
    color: white;
    font-size: 1rem;
  }

  .ideia ol li p {
    color: white;
    font-size: 0.8rem;
  }

  .circulacao {
    margin: 4vw 7vw;
    padding: 3vw 0;
  }

  .circulacao h2 {
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 10vw 0 0;
  }

  .circulacao h2 span.escala {
    color: #7c3aed;
  }

  .circulacao h2 span.planeta {
    color: rgb(41, 201, 212);
  }

  .circulacao p {
    color: gray;
    font-size: 0.8rem;
    padding: 4vw 10vw 4vw 0;
  }

  .circulacao ul {
    display: flex;
    gap: 5vw;

  }

  .circulacao ul li.bens {
    background: linear-gradient(to bottom right, #B638FF, #0EFACB);
    padding: 1vw;
    transform: rotate(-5deg);
    box-shadow: 7px 7px black;
    border: solid 3px black;
  }

  .circulacao ul li.digital {
    background: linear-gradient(to bottom right, #38FF4F, #00FFC3);
    padding: 1vw;
    box-shadow: 7px 7px black;
    border: solid 3px black;
    position: relative;
    bottom: 1.5vw;
  }

  .circulacao ul li.vendidos {
    background: linear-gradient(to bottom right, #6a0aa1, #ee3b9e);
    padding: 1vw;
    transform: rotate(5deg);
    box-shadow: 7px 7px black;
    border: solid 3px black;
  }

  .circulacao ul li h3 {
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 2vw 0 0 0;
  }

  .circulacao ul li h3.bens2 {
    padding: 0 3vw 0 0;
    font-size: 2.2rem;
  }

  .circulacao ul li p {
    padding: 3vw 0;
    color: black;
  }

  .circulacao ul li.digital p {
    padding: 6vw 0 0 0;
  }

  .circulacao ul li.vendidos p {
    padding: 6vw 0 0 0;
  }

  .importa {
    background: linear-gradient(to bottom right, #B638FF, #0EFACB);
    margin: 4vw 7vw;
    padding: 2vw;
  }

  .importa h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0 0 4vw 0;
  }

  .importa h2 span {
    color: black;
    background-color: #0DFF00;
    border-radius: 15px;

  }

  .importa ul {
    display: flex;
    gap: 4vw;
    align-items: baseline;
    flex: 1 1 0;
    box-sizing: border-box;
  }

  .importa ul li {
    color: white;
    border: solid white 10px;
  }

  .importa ul li h3 {
    font-size: 1rem;
    font-weight: bold;
    padding: 2vw 0 2vw 1vw;

  }

  .importa ul li p {
    font-size: 0.5rem;
    padding: 0 0 2vw 1vw;

  }

  .importa ul li.geopolitico p {
    padding: 0 0 0 1vw;
  }
  footer div {
  display: flex;
  gap: 29vw;
  justify-content: left;
  margin-left: 7.51vw;
  padding-bottom: 1vw;
  
  
}
footer div ul {
  border-right: gray solid 2px;
  padding: 1px 3vw 1px 0;
  text-align: left;
}
footer h2 {
  font-weight: bold;
  font-size: 0.5rem;
}
footer ul li a{
  color: rgb(46, 44, 44);
  font-size: 0.5rem;
}
footer div p{
  color: rgb(46, 44, 44);
}
footer p span{
  color: rgb(110, 30, 134);
  
}
footer p{
  font-size: 0.5rem;
  padding: 4vw 2vw 2vw 6vw;
  margin: 0 30vw;
  text-align: center;
  align-items: center;
}

}